// bootstrap variables

$enable-dark-mode: true !default;

$enable-negative-margins: true; // enable negative margins

$spacer: 1rem !default;

$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    7: $spacer * 8,
    8: $spacer * 10,
    9: $spacer * 12,
    10: $spacer * 16,
) !default;


//font-awesome overrides
//$fa-font-path: "../fonts/fontsawesome" !default;
